@font-face {
  font-family: 'thronesdb';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/thronesdb.eot');
  src: url('fonts/thronesdb.eot#iefix') format('embedded-opentype'), url('fonts/thronesdb.ttf') format('truetype'), url('fonts/thronesdb.woff') format('woff'), url('fonts/thronesdb.svg#thronesdb') format('svg')
}
[class^="icon-"],
[class*=" icon-"] {
    font-family: 'thronesdb';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-baratheon::before {
    content: "\e600"
}
.icon-greyjoy::before {
    content: "\e601"
}
.icon-lannister::before {
    content: "\e603"
}
.icon-martell::before {
    content: "\e604"
}
.icon-stark::before {
    content: "\e608"
}
.icon-targaryen::before {
    content: "\e609"
}
.icon-thenightswatch::before {
    content: "\e606"
}
.icon-tyrell::before {
    content: "\e60a"
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #3e94ec;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
h2,
h1 {
  color: #fafafa;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", helvetica, arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
h2 {
  text-align: right;
  margin: 0;
  color: #666B85;
  font-size: 1.2em;
  padding: 0 10px;
}
.results {
  display: block;
  text-align: center;
  color: #fff;
  margin: 0 auto 20px;
  width: auto;
}
table,
tr,
td,
th,
tbody,
thead,
table a {
  transition: all .2s ease;
}
table {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  margin: 20px auto 80px;
  padding: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
th {
  color: #D5DDE5;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 20px;
  font-weight: 100;
  padding: 18px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}
th:first-child {
  border-top-left-radius: 3px;
}
th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color: #666B85;
  font-size: 16px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
tr a {
  color: #666B85;
}
tr:hover td {
  background: #4E5066;
  color: #FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
tr:last-child:hover td {
  border-bottom-color: transparent;
}
tr:hover a {
  color: #FFFFFF;
}
tr:first-child {
  border-top: none;
}
tr:last-child {
  border-bottom: none;
}
tr:nth-child(odd) td {
  background: #EBEBEB;
}
tr:nth-child(odd):hover td {
  background: #4E5066;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}
td {
  background: #FFFFFF;
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}
td:last-child {
  border-right: 0px;
}
.cut {
  border-top-width: 4px;
}
.spoiler-protection:not(:hover) td + td a,
.spoiler-protection:not(:hover) td + td {
  color: transparent;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0);
}
.nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background: #FFFFFF;
  overflow: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.nav h1 {
  color: #D5DDE5;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  font-size: 23px;
  font-weight: 100;
  padding: 18px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav li {
  margin: 0;
  padding: 10px 0;
}
.nav > ol > li + li {
  border-top: 1px solid #C1C3D1;
}
.nav > ol > li:nth-child(odd) {
  background: #EBEBEB;
}
.nav li li:hover a {
  background: #4E5066;
  color: #FFFFFF;
}
.nav a {
  color: #666B85;
  padding: 5px 20px;
  transition: all .2s ease;
  display: block;
}
.content {
  margin: 0 0 0 300px;
  padding: 10px 10px 0;
  list-style: none;
}
.content > li {
  margin: 0;
  padding: 0;
}
.content .details {
  text-align: center;
}
.content .details a {
  color: #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff;
  }
}
:target {animation: blur .75s ease-out 1;}
.ribbon {
  position: absolute;
  right: 0;
  top: 0;
  height: 150px;
  width: 150px;
  overflow: hidden;
}
.ribbon a {
  background-image: linear-gradient(135deg, #FF7833, #FFD033);
  transform: rotate(45deg);
  white-space: nowrap;
  width: 200px;
  height: 30px;
  display: block;
  position: absolute;
  right: -41px;
  top: 43px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, .5);
  text-transform: uppercase;
  transition: box-shadow .2s ease;
  color: #000;
  text-shadow: 0 0 1px white;
}
.ribbon a::before {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 0;
  right: 0;
  border: 1px dashed rgba(0,0,0,.4);
}
.ribbon a:hover {
  box-shadow: 0px 2px 0px rgba(0, 0, 0, .5);
}

@media (max-width: 1000px) {
  .nav {
    position:static;
    width: auto;
  }
  .nav > ol {
    display: flex;
    flex-wrap: wrap;
  }
  .nav > ol > li {
    min-width: 300px;
    flex-grow: 1;
  }
  .content {
    margin-left: 0;
  }
}
